body{
	border: none;
	margin: 0px;
}

div{
	padding-bottom: 2px;
}

img{
	border: 0px;
	float: left;
	padding-right: 10px;
	/*padding-bottom: 2px;*/
}

header{
	background-color: #1A1919;
	padding:0px;
}

p.h1{
	margin: 0px;
	color: white;
	font-family: verdana;
	text-align: center;
	font-size: 2.1em;
}

p.head{
	color: white;
	font-family: verdana;
	text-align: center;

}



a:link{
	color: #248FB2;
	font-family: georgia;
	text-decoration: none;
	target = '_blank';
}

a:hover{
	color: #00FF99;
	font-family: georgia;
	text-decoration: none;
}

p.h2{
	color: white;
	height:40px;
	background-color: #336496;
	text-indent: 10px;
	font-family: verdana;
	font-size: 1.6em;
}

p.h3{
	background-color: #47A3FF;
	width: 80%;
	color: white;
	height: 35px;
	text-indent: 10px;
	font-family: verdana;
	font-size: 1.5em;
	position: center;
}

p{
	font-family: georgia;
	padding-left: 10px;
	text-align: justify;

}

#nav{
	float: right;
	padding-right:50px;
}

p.p_aboutme{
	width: 80%;
	padding-left: 10px;
}